In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [33]:
countpop = pd.DataFrame(pd.read_csv("mass_county_pop.csv"))
countpop

        County  Population  Mileage
0   Barnstable      215888      396
1    Berkshire      131219      931
2      Bristol      548285      556
3        Dukes       16535      104
4        Essex      743159      498
5     Franklin       71372      702
6      Hampden      463490      618
7    Hampshire      158080      529
8    Middlesex     1503085      824
9    Nantucket       10172       48
10     Norfolk      670850      400
11    Plymouth      494919      661
12     Suffolk      722023       58
13   Worcester      798552     1513

In [39]:
countpop[countpop['County'] == 'Suffolk'].values[0][1]

722023

In [43]:
x = countpop.values.tolist()

In [47]:
x[1][1]

131219